body {
  padding: 10px;
  font-family: Roboto, sans-serif;meteor
  overflow: hidden;
}

/*.dashboard{*/
  /*!*min-width: 70vw;*!*/
  /*!*align-content: center;*!*/
  /*align-items: center;*/
  /*text-align: center;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*border: 1px gray;*/
  /*!*justify-content: center;*!*/
/*}*/

/*.tools-container {*/
  /*padding-bottom: 20px;*/
/*}*/

/*.slider {*/
  /*padding-top: 26px;*/
/*}*/