body {
  font-family: Roboto, sans-serif;

}
.main_div{
  text-align: center;
  background-color: #FFFFFF;

}
.main_dashboard{
  display: inline-block;

}

.main_floorplan{
  display: inline-block;
  margin: 50px;

}

/*.dashboard{*/
  /*!*min-width: 70vw;*!*/
  /*!*align-content: center;*!*/
  /*align-items: center;*/
  /*text-align: center;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*border: 1px gray;*/
  /*!*justify-content: center;*!*/
/*}*/

/*.tools-container {*/
  /*padding-bottom: 20px;*/
/*}*/

/*.slider {*/
  /*padding-top: 26px;*/
/*}*/